name: CI Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          pip install -r app/requirements.txt

      - name: Run basic test
        run: |
          python -c "import app.app"

      - name: Build Docker image
        run: |
          docker build -t enterprise-ci:${{ github.run_number }} .

  deploy:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/enterprise-ci-cd:${{ github.run_number }} .

      - name: Push Docker image
        run: |
          docker push ${{ secrets.DOCKER_USERNAME }}/enterprise-ci-cd:${{ github.run_number }}

      - name: Run container from registry
        run: |
          docker run -d -p 5000:5000 ${{ secrets.DOCKER_USERNAME }}/enterprise-ci-cd:${{ github.run_number }}
          sleep 5
          curl http://localhost:5000
